$wide-device-width: 768px;

.main {
  background-color: #f3f4f5;
  height: 100vh;
  padding: 0.75rem;
  width: 100vw;
}

.content {
  padding-top: 3rem;

  @media screen and (min-width: $wide-device-width) {
    margin: auto;
    max-width: $wide-device-width;
  }
}

.selector {
  margin-bottom: 2rem;
}

.exchangeRate {
  display: block;
  font-weight: 100;
  margin-bottom: 1rem;
  text-align: center;
}

.buttonWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}