.dropdown {
  margin-bottom: 0.75rem;
}

.balance {
  color: #3a86f0;
  font-weight: 100;
  padding-left: 2rem;
}

.exceedsBalance {
  color: #f03aad;
}

.exceedsBalanceMessage {
  font-weight: 100;
  height: 1.5rem;
  padding-top: 0.5rem;
}