$button-color: #0666eb;
$disabled-color: #84b0ed;
$color: #fff;

.button {
  background-color: $button-color;
  border-radius: 2rem;
  border-style: none;
  border-width: initial;
  color: $color;
  cursor: pointer;
  display: inline-block;
  font-weight: 100;
  letter-spacing: -0.025em;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  min-width: 8rem;
  padding: 0.625rem 1.5rem;
  transition: all 0.2s ease 0s;

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}
