
$primary-color: #0666eb;
$min-width: 8rem;
$hover-color: #f3f4f5;
$button-radius: 0.5rem;
$option-radius: 0.5rem;

.dropdown {
  display: inline-block;
  position: relative;
}

.button {
  border: 2px solid $primary-color;
  border-radius: $button-radius;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: -0.025em;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  min-width: $min-width;
  padding: 0.625rem 1.5rem;
  transition: all 0.2s ease 0s;
  
  &::after {
    border: 0.4rem solid transparent;
    border-top-color: $primary-color;
    content: "";
    display: inline-block;
    height: 0;
    left: 0.5rem;
    position: relative;
    top: 0.3rem;
    width: 0;
  }
}

.options {
  background-color: #fff;
  border: 1px solid $primary-color;
  border-radius: $option-radius;
  display: none;
  list-style: none;
  margin: 0;
  min-width: $min-width;
  padding: 0;
  position: absolute;

  

  .option {
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $hover-color
    }

    &:first-child {
      border-radius: $option-radius $option-radius 0 0;
    }

    &:last-child {
      border-radius:  0 0 $option-radius $option-radius;
    }
  }

  &.show {
    display: flex;
    flex-direction: column;
  }
}